#include <windows.h>

/* Application icon */
1 ICON "icon.ico"

/* UAC + DPI manifest */
1 RT_MANIFEST "app.manifest"

/* Company logo (PNG) */
101 RCDATA "logo_rls.png"

/* Embedded WebView2 UI */
102 RCDATA "ui.html"

/* Version info */
VS_VERSION_INFO VERSIONINFO
  FILEVERSION     1,3,0,0
  PRODUCTVERSION  1,3,0,0
  FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
  FILEFLAGS       0
  FILEOS          VOS_NT_WINDOWS32
  FILETYPE        VFT_APP
  FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "RLS Automacao\0"
      VALUE "FileDescription",  "RLS Automacao VPN Client\0"
      VALUE "FileVersion",      "1.3.0.0\0"
      VALUE "InternalName",     "rls_vpn\0"
      VALUE "LegalCopyright",   "Copyright 2026 RLS Automacao\0"
      VALUE "OriginalFilename", "rls_vpn.exe\0"
      VALUE "ProductName",      "RLS Automacao VPN\0"
      VALUE "ProductVersion",   "1.3.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
